.subcategory {
    margin-bottom: 20px;
    margin-right: 20px;

    &__title {
        font-size: 16px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    &__subsubcategories {

        &__item {
            color: white;
            display: block;
            text-decoration: none;
            margin-bottom: 7px;
            font-size: 14px;
            cursor: pointer;
        }
    }
}
