@import url("./app/static/styles/__typography.scss");
@import url("./app/static/styles/__reset.scss");
@import url("./app/static/styles/__variables.scss");
@import url("./app/static/styles/__mixins.scss");
@import "react-toastify/dist/ReactToastify.min.css";

html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    user-select: none;
    font-display: swap;
    font-family: "Raleway", sans-serif;
    color: white;
}

.page {
    background: #424769;
    min-height: calc(100vh - 50px);
    padding: 30px;
    padding-top: 150px;

    &__auth {
        padding-top: 0;

        & .header,
        & .footer {
            display: none;
        }

        & .page__content {
            padding: 0;
        }
    }
}
