.categories {

    &__content {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    &__back-button {
        text-decoration: none;
        width: 40px;
        height: 40px;
    }

    &__item {
        width: 30%;
        margin-right: 20px;

        &__photo {
            height: 300px;
            width: 100%;
            background-position: left;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__title {
            display: block;
            color: white;
            text-decoration: none;
            font-size: 20px;
            margin-bottom: 15px;
        }

        &__subcategories {
            display: flex;
            flex-direction: column;
        }

        &__subcategory {
            color: white;
            text-decoration: none;
            font-size: 17px;
            margin-bottom: 7px;
        }
    }
}
